<div class="item row">
    <img class="item-image" src=<%= item.icon %>>
    <div class="item-right">
        <div class="item-info col-xs-5">
            <div class="item-name"><%= item.title %></div>
            <div class="item-volume"><%= item[size].volume %><%= item.notLiquid ? " г" : " мл" %></div>
            <div class="item-price"><%= item[size].price %> грн</div>
        </div>
        <div class="item-amount col-xs-4">
            <a class="btn btn-default minus-amount">
                <span class="glyphicon glyphicon-minus"></span>
            </a>
            <div class="item-amount-text"><%= quantity %></div>
            <a class="btn btn-default plus-amount">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
        <div class="item-full-price col-xs-3">
            <div class="item-price-text">Сума</div>
            <div class="item-price"><%= item[size].price*quantity %> грн</div>
        </div>
    </div>
    <a class="delete link-header"><span class="glyphicon glyphicon-remove"></span></a>
</div>